/* Gray Blue - Gray */

/* inspired by bento box template*/

/*General*/


.SurveyName 	{

font-size: 145%;
color:  #333333;
padding-bottom:10px;
font-weight:normal;

}
.SurveyDesciption {
color: #000000;
font-weight: normal;
margin:20px 0px 20px 0px;
font-size:15px;
}
.PageName {
border-bottom: 2px solid;
font-size: 155%;
font-weight: bold;
margin-bottom: 20px;
margin-top: 40px;
text-align: left;
}

.PageDesciption {
   
    font-size:15px;
    line-height: 1.85;

}

.Question {
padding-top:10px;
font-size: 120%;
color:  #333333;
}

.QuestionDesciption {
margin: 5px 5px 10px 30px;
padding: 10px;
border: 2px dashed #B7B7B7;
font-size: 15px;
}
.Answer {
    font-size:15px;

}

/*Form Elements*/

.Checkbox {

}
.RadioButton {

}
.DropDownMenu {
font-size:15px;

}
.TextArea {

}
.Button {
background-color: #333333;
padding: 2px;
padding: 3px;
color: #fff;
}

.btnx{

}
/*Table*/

.RowHeading {

font-size:15px;
height: 25px;
padding: 3px;
}

.matrix_heading{

background-color: #eeeeee;
padding: 3px;
color: #333333;

}

.ColumnHeading {
background-color: #D9ECFF;
padding: 3px;
color: #333333;
}
.TableRow1 {

background-color: #D9ECFF;
padding: 2px;
height: 25px;
padding: 3px;
color: #333333;
}

.TableRow2 {

background-color: #eeeeee;
padding: 2px;
height: 25px;
padding: 3px;
color: #333333;

}

/*Results*/

.ResultHeading {

}
.TotalBackground{

} 

/*Pop up*/

.PopupTitle {
}
.PopupContent {
}
.PopupButtonrow{

}
.abstract_class{
}w{

}
.abstract_class{
}
